<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "resultTesting">
    <test name = "EPTesting">
        <classes>
            <class name = "EPTest"/>
        </classes>
    </test>
    <test name = "BVATesting">
        <classes>
            <class name = "BVATest"/>
        </classes>
    </test>
</suite>